body {
		font-family: Roboto;
		background: #7db919;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #7db919, #1F1C18);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
#container{
		margin:100px auto;
		margin-top:110px;
		height:70%;
		width:30%;				
		}
#top{
		height:8%;
		background: #1F030C;
		color:white;
		border-radius:15px 15px 0px 0px;
		text-align:center;
		}
#btm{
		margin:auto;
		height:87%;
		
		background: #f7f7f7;
		padding-top:20px;
		
		padding-left:20px;
		font-size:22px;
	}
#services{
		height:50px;
		width:320px;
		}
.txtsize{
		padding-left:20px;
		font-size:25px;
		}
#totalamt{
		width:200px;
		height:40px;
		font-size:20px;
		}
#numOfPeople{
		width:200px;
		height:40px;
		font-size:20px;
		}
				
button{
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		margin: 30px auto;
		background: #AD133A;
		border-radius: 5px;
		width: 240px;
		height: 50px;
		font-size: 17px;
		color: white;
		}
button:hover {
		background: #4c2827;
		border-bottom-color: #111;
		}

button:active {
		position: relative;
		top: 1px;
		}
	
#totalTip {
		background: #f7f7f7;
		border:solid red;
		font-size: 30px;
		padding-top: 10px;
		text-align: center;
		border-radius:0px 0px 15px 15px;
		}
#totalTip:before {
		position:relative;
		content: "Tip amount";
		font-size: 20px;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
			}
#totalTip sup {
		font-size: 20px;
		top: -18px;
		}
#totalTip small {
		font-size: 20px;
		font-weight: bold;
		display: block;
		}
#p{
	font-size:35px;
}
				
				
				